<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".WeAssistApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeAssist"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBceN-dLuvJXdpGVpgZ1ckhfm4kCzuIjhM" />

        <activity
            android:name=".Miscellaneous.LawyerMapActivity"
            android:exported="false" />
        <activity
            android:name=".Lawyer.LawyerNotification"
            android:exported="false" />
        <activity
            android:name=".LoginAndRegister.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.MyApp"
            android:exported="false" />
        <activity
            android:name=".Lawyer.LawyerBackgroundActivity"
            android:exported="false" />
        <activity
            android:name=".Secretary.AppointmentDetailsDialog"
            android:exported="false" />
        <activity
            android:name=".Clients.ClientNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Lawyer.LawyerEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Lawyer.ConsultationLogsActivity"
            android:exported="false" />
        <activity
            android:name=".Lawyer.ConsultationActivity"
            android:exported="true" />
        <activity
            android:name=".Lawyer.LawyersDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.GiveRatingsActivity"
            android:exported="true" />
        <activity
            android:name=".Secretary.AddBackgroundActivity"
            android:exported="true" />
        <activity
            android:name=".Lawyer.LawyersListActivity"
            android:exported="true" />
        <activity
            android:name=".Miscellaneous.AddBalanceActivity"
            android:exported="true" />
        <activity
            android:name=".Secretary.AddAvailabilityActivity"
            android:exported="true" />
        <activity
            android:name=".Secretary.SetAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".Secretary.SecretaryProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Miscellaneous.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".Clients.ClientEditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Clients.ClientAppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Clients.ClientAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".Clients.ClientFrontPage"
            android:exported="false" />
        <activity
            android:name=".MessageConversation.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".MessageConversation.ImagePreviewActivity"
            android:exported="true" />
        <activity
            android:name=".Clients.ClientDashboard"
            android:exported="false" />
        <activity
            android:name=".Secretary.SecretaryAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".Secretary.SecretaryAppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Secretary.SecretaryNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Secretary.SecretaryDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".LoginAndRegister.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginAndRegister.Login"
            android:exported="false" />
        <activity
            android:name=".LoginAndRegister.RegisterSelection"
            android:exported="false" />
        <activity android:name=".Miscellaneous.ChatbotActivity" />
        <activity android:name=".Secretary.EditSecretaryProfileActivity" />
    </application>

</manifest>