<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeAssist"
        tools:targetApi="31">
        <activity
            android:name=".Secretary.SecretaryFrontPage"
            android:exported="false" />
        <activity
            android:name=".Lawyer.Lawyer_FrontPage"
            android:exported="false" />
        <activity
            android:name=".ConsultationLogsActivity"
            android:exported="false" />
        <activity
            android:name=".ConsultationActivity"
            android:exported="true" />
        <activity
            android:name=".Lawyer.LawyersDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.GiveRatingsActivity"
            android:exported="true" />
        <activity
            android:name=".AddBackgroundActivity"
            android:exported="true" />
        <activity
            android:name=".Lawyer.LawyersListActivity"
            android:exported="true" />
        <activity
            android:name=".Miscellaneous.AddBalanceActivity"
            android:exported="true" />
        <activity
            android:name=".AddAvailabilityActivity"
            android:exported="true" />
        <activity
            android:name=".Secretary.SetAppointmentActivity"
            android:exported="true" />
        <activity
            android:name=".Secretary.SecretaryProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Miscellaneous.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".Miscellaneous.SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Clients.ClientFrontPage"
            android:exported="false" />
        <activity
            android:name=".ChatMessagesActivity"
            android:exported="true" />
        <activity
            android:name=".Clients.ClientDashboard"
            android:exported="false" />
        <activity
            android:name=".Secretary.SecretaryDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".LoginAndRegister.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginAndRegister.Login"
            android:exported="false" />
        <activity
            android:name=".LoginAndRegister.RegisterSelection"
            android:exported="false" />
        <activity android:name=".ChatbotActivity" />
        <activity android:name=".EditSecretaryProfileActivity" />


    </application>

</manifest>